header {
    width: 100vw;
    height: 12.5vh;
    background-color: var(--deep-blue);
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header li {
    list-style: none;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.13rem;
    font-size: 1.5rem;
    animation: float 6s ease-in-out infinite;
    color: whitesmoke;
    transform: translatey(0px);
}


header li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}


header li a:before {
    content: "";
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #00c9a7;
    transition: all 0.3s ease-in-out;
}


header li a:hover {
    text-decoration: underline;
    background-position: 0%;
}


header li a:hover:before {
    width: 100%;
}


header li div img {
    border-radius: 10%;
    height: 5vh;
    width: calc(5vh * 1.02);
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}


.hidden-profile-view {
    width: 10vw;
    margin-left: -4.5vw; 
    padding-right: 1.5vw;
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(20, 83, 154, 0.5);
    box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.75);
    border-radius: 0.35rem;
    transition: 400ms ease-in-out;
}


.hidden-profile-view li a::before {
    background: none;
}


.hidden-profile-view:hover {
    transition: 600ms ease-in-out;
    background-color: rgba(20, 83, 154, 0.80);
}


.hidden-profile-view li {
    margin-top: 1.7vh;
    display: inline-block;
}


.img-to-my-profile-link:hover:before {
    width: 0;
}


#not-aministrator-div {
    display: flex;
}


#shopping-cart {
    margin-left: 2rem;
    font-size: 1.5rem;
    position: relative;
    top: 0.6rem;
}


#shopping-cart-quantity {
    font-size: 1rem;
    position: relative;
    bottom: 1.2rem;
    background-color: #ff5700;
    border: 2px solid #ff5700;
    border-radius: 10px;
    padding: 0.1rem 0.3rem;
}


.not-aministrator-div li a::before {
    background: none;
}


#cart-div {
    margin-left: -15vw;
    display: flex;
    position: relative;
    left: 2.5vw;
    text-decoration: none;

}


#cart-div #shopping-cart-quantity-link:hover {
    text-decoration: none;
}


#cart-div a:hover:before {
    width: 0;
}


@media screen and (min-width: 2501px) { 
    #cart-div {
        margin-left: -18vw;
        display: flex;
        position: relative;
        left: 4.5vw;
        text-decoration: none;
    }    
}
