
.checkout-main {
    width: 100vw;
    height: 100%;
    margin: 12.5vh auto 0;
    margin-left: -0.4vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    background: url("https://png.pngtree.com/background/20230528/original/pngtree-dark-gym-with-equipments-picture-image_2773570.jpg");
    background-size:cover;
}


.checkout-main section {
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-left: -1.5vw;
    background-color: #9c3b2b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    box-shadow: 2px 2px 18px 2px rgba(0,0,0,0.75);
    border-radius:  0.7rem;
    transition: 600ms ease-in-out;
}


.checkout-main section:hover {
    opacity: 1;
}


.checkout-main .shopping-cart, .details {
    width: 48vw;
    height: 90vh;
}


.checkout-main .shopping-cart {
    height: 100%; 
    background-color: #124b8b;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    border-radius:  0.7rem 0 0  0.7rem;
}


.checkout-main h1 {
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.4rem;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);

}


/* Table */
.checkout-main .shopping-cart table {
    margin-top: 2vh;
    border-collapse: separate;
    border-spacing: 20px;
    width: 90%;
}


.checkout-main .shopping-cart table th, 
.shopping-cart table td {
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-family: 'Salsa', cursive;
    font-weight: 100;
    letter-spacing: 0.07rem;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}


.checkout-main .shopping-cart tbody tr {
    transition: 600ms ease-in-out;
    background-color: #0e3a6c;
}


.checkout-main .shopping-cart tbody tr:hover {
    cursor: pointer;
    background-color: #00ad93;
    transform: translateY(-0.4rem);
}


.checkout-main .shopping-cart table th {
    padding: 0.5rem;
    font-weight: 900;
}


.checkout-main .shopping-cart table td img {
    width: 5vw;
    margin: 0 auto;
    border-radius: 0.3rem;
    margin-top: 0.3em;
}

/* Table */


.checkout-main .shopping-cart h3 {
    margin-top: 4vh;
    font-family: 'Salsa', cursive;
    letter-spacing: 0.07rem;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    font-size: 1.5rem;
    transition: 600ms ease-in-out;
    animation:  pulse 4s infinite ease-in-out alternate;
}


.checkout-main .details {
    border-radius: 0 0.7rem 0.7rem 0;
    color: whitesmoke;
    background-color: #9c3b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Salsa', cursive;
}


.checkout-main .details h1 {
    margin-bottom: 2vh;
}


.checkout-main .details div {
    margin-bottom: 1vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.checkout-main .details div input {
    font-family: 'Salsa', cursive;
    font-weight: 300;
    font-size: 1.1rem;
    height: 2rem;
    width: 10rem;
    padding-left: 1rem;
    align-self: center;
    justify-self: center;
    border-radius: 0.3rem;
    border: 0.5px solid black;
}


.checkout-main .details div label {
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    color: whitesmoke;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-right: 10px;
}


.checkout-main form {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.checkout-main .details form button {
    margin-top: 5vh;
    padding: 0.7rem 1.4rem;
    background-color: var(--deep-blue);
    color: #f5f5f5;
    font-size: 1.3rem;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    font-family: 'Salsa', cursive;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 600ms ease-in-out;
    margin-bottom: -2Vh;
    animation: hithere 5s ease-in-out infinite;
}


#quantity-td button {
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    cursor: pointer;
    margin: 0.4rem;
    padding: 0.1rem 0.3rem;
    color: #a6a6a6;
    font-weight: 600;
    font-size: 0.9em;
    border: none;
    background-color: transparent;
    transition: 600ms ease-in-out;
}


#quantity-td button:hover {
    color: whitesmoke;
}


#plus-quantity {
    position: relative;
    top: 0.3vh;
}


@media screen and (min-width: 2501px) { 
    .checkout-main h1 {
        font-size: 4rem;
    }

    
    .checkout-main .shopping-cart  {
        font-size: 2rem;
    }


    .checkout-main .details div label {
        text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
        letter-spacing: 0.1rem;
        font-size: 1.4rem;
        color: whitesmoke;
        padding: 0.5rem;
        border-radius: 0.2rem;
        margin-right: 10px;
    }
    

    .checkout-main .details div input {
        font-family: 'Salsa', cursive;
        font-weight: 300;
        font-size: 1.3rem;
        height: 2.5rem;
        width: 10rem;
        padding-left: 1.3rem;
        align-self: center;
        justify-self: center;
        border-radius: 0.3rem;
        border: 0.5px solid black;
    }


    .checkout-main .details form button {
        margin-top: 2vh;
    }


    #quantity-td button {
        cursor: pointer;
        margin: 0.4rem;
        padding: 0.1rem 0.3rem;
        color: #a6a6a6;
        font-weight: 600;
        font-size: 1.19rem;
        border: none;
        background-color: transparent;
    }
}


@media screen and (max-width: 1900px) { 

    .checkout-main {
        margin-left: -0.5vw;
    }

    .checkout-main .details form button {
        margin-top: 2vh;
    }
}